
.root{
    position:relative;
    color:red;
    max-width:100%;
    overflow:hidden;
}

.control{
    position:absolute;
    top:40%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;    
    width:100%;
}

.button{
    /* width:100px; */
    /* height:50px; */
    font-size:100px;
    cursor:pointer;
    /* background:transparent; */
    color:white;
    font-weight:900;
}

.slide{
    width:100%;
}

